In [411]:
# List

scores = [2,3,4,5,55,66,77,88,99]
scores[3]
scores[-3]
scores[:]

scores[3:]
scores[3:7]  # list slicing
len(scores)  # length of list

scores.append(190) # append an element
scores

scores.append([100,200])
scores

scores.extend([100,200])  # appends multiple elements to a list
scores.insert(3,197) # inserts an element at a specific index
scores.remove(100)
scores

[2, 3, 4, 197, 5, 55, 66, 77, 88, 99, 190, [100, 200], 200]

In [412]:
mylist = [0,1,2,3,4]
mylist.remove(3)
mylist

[0, 1, 2, 4]

In [413]:
# function that accecpts a list and returns the op with the index 0 removed
def remove(list):
  del list[0]
  return list

remove([1,2,3,4,5,6,7])

[2, 3, 4, 5, 6, 7]

In [414]:
mylist.append(4)
mylist

[0, 1, 2, 4, 4]

In [1]:
# reverse a list
x = [1,2,3,4,5,6,7,8,9]
x[::4]

[1, 5, 9]

In [416]:
# reverse without slicing:
def reverse(list):
  reverse =[]
  for i in range(len(list)-1,-1,-1): # reverse loop range(start, stop,increment)
    reverse.append(list[i])
  return reverse

reverse([1,2,3,4,5,6])

[6, 5, 4, 3, 2, 1]

In [417]:
min([1,2,3,4,5,6])
max([1,2,3,4,5,6])
max(['Milan','DurgaP', 'Harshita']) # Unicode value of each character for comparison.

'Milan'

In [423]:
# cumulative sum of list
def cumulative_sum(list):
  cum = [list[0]]
  for i in range(1,len(list)):

    cum.append(cum[-1]+list[i])
  return cum

cumulative_sum([1,2,3,4,5,6])

[1, 3, 6, 10, 15, 21]

In [16]:
# unique elements of a list

def unique_ele(list):

  uniq = []
  for i in range(0,len(list)):
    count = 0
    for j in range(0,len(list)):
      if list[i] == list[j]:
        count +=1
    if count <= 1:
      uniq.append(list[i])
  return uniq

unique_ele([1,2,3,4,5,5,6,3])

[1, 2, 4, 6]

In [14]:
# unique elements from a list using counter
from collections import Counter
def uniq_ele_counter(list):
  count = Counter(list)
  return [key for key, value in count.items() if value ==1]

uniq_ele_counter([1,2,3,4,5,2,4,6,7,8,9])

[1, 3, 5, 6, 7, 8, 9]

In [27]:
# duplicate elements in a list
def dup_ele(list):

  dup = []
  for ele in list:
    if list.count(ele)>1 and ele not in dup:
      dup.append(ele)

  return dup

dup_ele([1,2,3,4,5,5,6,3,6,2,9,9])

[2, 3, 5, 6, 9]

In [ ]:
sum([1,2,3,4,5])

In [8]:
# function that takes a list and number and splits the list in the given number

def split(list,num):
  result = []
  for i in range(0,len(list),num):
    result.append(list[i:i +num])
  return result

split([1,2,3,4,5,6,7,8,9,10,11],4)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11]]

In [10]:
#sort
f = [1,4,2,6,3,9,4,6]
f.sort()
f

[1, 2, 3, 4, 4, 6, 6, 9]

In [12]:
# sort without affecting the original
g = [1,4,2,6,3,9,4,6]
sorted(g)
g

[1, 4, 2, 6, 3, 9, 4, 6]

In [21]:
# Write a function lensort to sort a list of strings based on length.

def sort_on_length(list):
  return sorted(list,key = len)


sort_on_length(['python', 'perl', 'java', 'c', 'haskell', 'ruby'])

['c', 'perl', 'java', 'ruby', 'python', 'haskell']

In [23]:
# Write a function extsort to sort a list of files based on extension.

def sort_on_ext(list):
  return sorted(list, key=lambda x: x.split('.')[-1])

sort_on_ext(['a.c', 'a.py', 'b.py', 'bar.txt', 'foo.txt', 'x.c'])

['a.c', 'x.c', 'a.py', 'b.py', 'bar.txt', 'foo.txt']

In [22]:
j = 'milan.dora'
j.split('.')

['milan', 'dora']

In [14]:
h = ['python', 'perl', 'java', 'c', 'haskell', 'ruby']
h.sort()
h

['c', 'haskell', 'java', 'perl', 'python', 'ruby']

In [ ]:
x = [0, 1, [2]]
x[2][0] = 3
print (x)
x[2].append(4)
print (x)
x[2] = 2
print (x)

In [ ]:
# tuple

scores = (1,2,3,4,5,6,7,8,9,11,22,33,44,55)
scores[3:]


# Cannot append, extend, insert, remove elements from tuple. Tuple is not mutable
# list is mutable

In [ ]:
mytuple1 = (1,2,3)
mytuple2 = (4,5,6)
print(mytuple1 + mytuple2)

In [ ]:
mytuple1 + (4,)

In [ ]:
# Dictionary

dictb = {'name': ['Milan','Durga', 'Nikky','Harshita'], 'Location': ['Hyderabad','Vizag','Vizag','Rourkela'], 'score': ['20','30','40','50']}

dictb['name']

dictb['name'].append('Mohi')
dictb['name']

In [ ]:
name = ['Milan', 'Durga', 'Mohi']
scores = [2,3,4]
for name,key in zip(name,scores):
  print(name,key)

In [ ]:
# Set

scores = {1,2,3,4,5,6,7,8,9,0,99,88,77,66,55,44,33,22,1,2,3,4,5}


scores
# doesnot takes duplicates, arranges in ascending order

In [ ]:
# task is to remove duplicates from the list. OP has to be a list of unique values
scores = [1,2,3,4,5,6,7,8,9,0,99,88,77,66,55,44,33,22,1,2,3,4,5]
list(set(scores))

In [ ]:
# Loops
# find the square

score = [1,2,3,4,5]

for ele in score:
  print(ele**2)

In [ ]:
# want op in a list
square = []
score = [1,2,3,4,5]

for ele in score:
  square.append(ele**2)

square

In [ ]:
# list comprehension

score = [1,2,3,4,5,6]

[ele**2 for ele in score]

In [ ]:
# print even numbers

num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
[ele for ele in num if ele%2 ==0]

In [ ]:
# functions

scores = [1,2,3,4,33,44,55,66]

def square(num):
 return[ ele**2 for ele in num]

square(scores)

In [ ]:
# function that takes 2 list and returns the element wise sum

def sum1 (list1,list2):
  final_sum=[]
  for i in range(len(list1)):
    final_sum.append(list1[i]+ list2[i])
  return final_sum

list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

sum1(list1,list2)

In [ ]:
import numpy as np

arr1 = np.array([1,2,3,4,5])
arr2 = np.array([2,3,4,5,6])

arr1 + arr2

In [ ]:
# function to find out the eucleadian distance


def distance(l1,l2):
  x_arr = np.array(l1)
  y_arr = np.array(l2)
  return np.sqrt(np.sum(np.square(x_arr - y_arr)))

distance([1,2],[3,4])

In [ ]:
# function that takes a number n and returns product of all numbers from 1 to n

def prod(n):
  product = 1
  for i in range(1,n+1):
    product = product *i
  return(product)

prod(5)

In [ ]:
def prod_arr(n):
  return(np.prod(np.array(range(1,n+1))))

prod_arr(5)

In [ ]:
# function that takes list of integers and re-orders in below format
# sample ip =[-12,33,-99,44,55,-55,-66,-77,54,65]
# op = [-12,-99,-55,-66,-77,33,33,55,54,65]

def order(l1):
  neg = []
  pos =[]
  for ele in l1:
    if ele <0:
      neg.append(ele)
    else:
      pos.append(ele)
  return(neg+pos)

order([-12,33,-99,44,55,-55,-66,-77,54,65])

In [ ]:
def order_list(l1):
  neg = [ele for ele in l1 if ele <0]
  pos = [ele for ele in l1 if ele >0]
  return(neg + pos)

order_list([-12,33,-99,44,55,-55,-66,-77,54,65])

In [ ]:
def order_list1(l1):

  return([ele for ele in l1 if ele <0] + [ele for ele in l1 if ele >0])

order_list1([-12,33,-99,44,55,-55,-66,-77,54,65])

In [ ]:
# function that takes a sentence and returns the number of words, first word and last word

def sent(a):
  x = a.split()
  return (len(x),x[0],x[-1] )

sent('Sun Rises in the East')

In [ ]:
# function that takes a word and reverses it

def reverse(a1):
  a=''
  for char in a1:
    a = char +a
  return a

reverse('Milan')

In [ ]:
'milan'[::-1]

In [ ]:
# list of words into sentence

' '.join(['Sun', 'Rises', 'in', 'the', 'east'])

In [ ]:
# function that takses a sentence and reverese the order of words
# Ex: 'honesty is the best policy'
# op = 'policy best the is honesty'

def rev_sent(sent):
  rev = []
  for ele in sent.split():
    rev.insert(0,ele)
  return ' '.join(rev)

rev_sent('honesty is the best policy')

In [ ]:
def rev_sent1(sent):
  return ' '.join((ele[::-1] for ele in sent[::-1].split()))

rev_sent1('honesty is the best policy')

In [ ]:
# function that takes sentence and returns the count of vowels
# ip = 'Match has been cancelled due to rain'
# op =  12

def vow_count(sent):
  count =0
  for char in sent:
    if char.lower() in ['a','e','i','o','u']:
      count = count+1
  return count

vow_count('Match has been cancElled due to rain')

In [ ]:
def vow_count1(sent):

  return len([char for char in sent if char.lower() in ['a','e','i','o','u']])

vow_count('Match has been cancElled due to rain')

In [ ]:
dicta = {'name': ['Milan','Durga', 'Nikky','Harshita'], 'Location': ['Hyderabad','Vizag','Vizag','Rourkela'], 'score': ['20','30','40','50']}

for k,v in dicta.items():
  print(k,v)

dicta.keys()
dicta.values()

In [ ]:
# function that takes a sentence and returns the dictionary of vowel count
def vowel_count(sent):
  count_v={}
  vowel = ['a','e','i','o','u']
  for char in sent:
    if char.lower() in vowel:
      if char.lower() in count_v.keys():
        count_v[char.lower()] = count_v[char.lower()] +1
      else:
        count_v[char.lower()] = 1
  return(count_v)


vowel_count('Match has been cancElled due to rain')

In [ ]:
# finction that takes a list li and number n. it returns true if sum of any 2 numbers in list is equal to n

# ip [1,2,3,4,1,2,3,6,7] n=12 op=false

def sum_verify(li,n):
  for ele in li:
    if n - ele in li:
      return(True)
    else:
      return(False)

sum_verify([1,2,3,4,1,2,3,6,7],12)

In [ ]:
# Function that takes a dictionary of names and scores and returns the name with highest score
# ip = {'Milan': 100, 'Durga': 90, 'Nikky': 180, 'Harshita': 5}
# op = Nikky

def max_score_name(dictx):
  for k,v in dictx.items():
    if v == max(dictx.values()):
      return k


max_score_name({'Milan': 100, 'Durga': 90, 'Nikky': 180, 'Harshita': 500})

In [ ]:
# function that takes a number n and returns the dictionary of squares(from 1 to n)

def squares(n):
  dis={}
  for i in range(1,n+1):
    dis[i] = i*i
  return dis
squares(5)

In [ ]:
# function that takes 2 sentences and returns the list of common words

def common(sent1,sent2):
  com = []
  for ele in sent1.split():
    if ele in sent2.split():
      com.append(ele)
  return com

common('Sun rises in the east', 'Sun sets in the west')

In [ ]:
# function that counts number of vowels
def count_vow(n):
    count=0
    vow= ['a','e','i','o','u']
    for char in n:
        if char.lower() in vow:
            count=count+1
    return count
count_vow('Match has been cancelled')

In [ ]:
def count_vow(n):
    vow= ['a','e','i','o','u']

    return len([char for char in n if char.lower()in vow])
count_vow('Match has been cancelled')

In [ ]:
# function that counts vowels and returns each vowel count in a dictionary

def count_vow(n):
    vow= ['a','e','i','o','u']
    vow_count={}
    for char in n:
        if char.lower() in vow:
            if char.lower() in vow_count.keys():
                vow_count[char.lower()]=vow_count[char.lower()]+1
            else:
                vow_count[char.lower()]=1


    return vow_count
count_vow('Time is money')

In [ ]:
# function that takes a list of numbers and a number n, returns True if sum of any 2 numbers in list is equal to n

def sum_check(li,n):
  for ele in li:
    if n - ele in li:
      return True
  else:
    return False

sum_check([1,2,3,4,5,6,7,8],13)

In [ ]:
# function that returns the name with max score, from a disctionary of names and scores

def max_score(dict1):
  for k,v in dict1.items():
    if v == max(dict1.values()):
      return (k)

max_score({'Rohit':98,'John':100,'Ravi':189,'Raj':99})

In [ ]:
# function that takes a sentence and counts the number of vowels and consonents

def count_con_vow(sent):
  count_vow = 0
  count_con = 0
  vowel = ['a', 'e', 'i','o','u']
  for char in sent:
    if char.lower() in vowel:
      count_vow = count_vow +1
    if char.lower() not in vowel and char != ' ':
      count_con = count_con +1


  return (count_vow, count_con)

count_con_vow('Match has been cancelled due to rAin')

In [ ]:
name =['Milan', 'Durga','Nikky','Harshita']
scores = [22,34,45,67]

list(zip(name,scores))  # same size list will be stored as list of tples
dictionary = dict(zip(name,scores))
dictionary

In [ ]:
# function that takes a sentence and returns the word which occurs maximum number of times

def max_word_repeat(sent):
  word_count={}
  sent = sent.lower()
  for ele in sent.split():
    if ele in word_count:
      word_count[ele] +=1
    else:
      word_count[ele] =1
  max_count = max(word_count.values())
  value = {i for i in word_count if word_count[i] == max_count}
  return (max_count, value)

max_word_repeat('Test Cricket is the real test of a player cricket skills in international cricket')

In [ ]:
def max_word_repeat(sent):
  word_count={}
  sent = sent.lower()
  for ele in sent.split():
    if ele in word_count:
      word_count[ele] +=1
    else:
      word_count[ele] =1
  max_count = max(word_count.values())
  for k, v in word_count.items():
    if v == max(word_count.values()):
      return (max_count, k)


max_word_repeat('Test Cricket is the real test of a player cricket skills in international cricket')

In [ ]:
# function that takes a number n and returns the sum of below pattern
# ip = 5
# op has to be sum of 5+55+555+5555+55555

def sum_op(n):
  sum =0
  for i in range(1,n+1):
    sum = sum + int(str(n)*i)
  return sum

sum_op(3)

In [ ]:
def sum_op1(n):
  sum=0
  return (sum+ int(str(n)*i) for i in range(1,n+1))

sum_op(3)

In [ ]:
# lambda function sum of 2 numbers

res = lambda x,y : x+y
res(3,4)

In [ ]:
# lambda expression that taskes a list of numbers and returns the squares
# Note: we can write lambda expression only if it fits in a single line

sq_lambda = lambda li : [ele ** 2 for ele in li]

sq_lambda([1,2,3,4,5,6,7])

In [ ]:
# Want to use a function such that it returns the sum of any number of arguments
# *args is used to passed variable length arguments to a function

def sum_tu(*x): # here when we give *x python will consider it as a tuple
  sum =0
  for ele in x:
    sum = sum + ele
  return sum

sum_tu(1,2,3)

In [ ]:
# when ** is given in argument python considers it as a dictionary. it is used to pass variable length key worded arguments

def get_value(**kwargs):
  for k,v in kwargs.items():
    print(k,v)

get_value(Name = 'Milan', Location = 'Hyderabad', score = 100 )

In [ ]:
# map takes 2 parameters function and list. So it goes to every element in the list and applies the function to it.
list(map(lambda x:x**2, [1,2,3,4,5,6]))

In [ ]:
Sentence = ['Milan Dora', 'Sum rises in the east']
list(map(lambda sent: len(sent.split()), Sentence))

In [ ]:
# dictionary comprehension
{i: i**2 for i in range(1,5)}

In [ ]:
def operations(x,x1,x2):
  result = 0
  if x == '+':
    result = x1 + x2
    return f" {x1} {x} {x2} = {result}"
  if x == '-':
    result = x1 - x2
    return f" {x1} {x} {x2} = {result}"
  if x == '*':
    result = x1 * x2
    return f" {x1} {x} {x2} = {result}"
  if x == '/':
    result = x1 / x2
    return f" {x1} {x} {x2} = {result}"
  if x == '>':
    if x1 > x2:
      return f" {x1} {x} {x2}"
    else:
      return f" {x2} {x} {x1}"
  if x == '<':
    if x1 < x2:
      return f" {x1} {x} {x2}"
    else:
      return f" {x2} {x} {x1}"



operations('<',9258,17350)

In [ ]:
def pan_check(sent):

  if len(sent) ==12 and sent.isdigit():
    return "Valid Aadhar Number"

  if len(sent) ==10 and sent[:5].isalpha() and sent[5:9].isdigit() and sent[-1].isalpha():
    return "Valid Pan"
  else:
    return "Invalid Details"

pan_check('1234567891')

In [ ]:
def pan_check1(sent):
  valid_pan = len(sent) ==10 and sent[:5].isalpha() and sent[5:9].isdigit() and sent[-1].isalpha()
  if valid_pan == True:
    return "Valid Pan Details"
  else:
    return "Invalid Pan Details"

def aadhar_check(sent1):
  valid_aadhar = len(sent1) ==12 and sent1.isdigit()
  if valid_aadhar == True:
    return "Valid AAdhar Details"
  else:
    return "Invalid AAdhar Details"

def ssn_check(sent):
  valid_ssn = len(sent) ==10 and sent.isdigit()
  if valid_ssn == True:
    return "Valid SSN Details"
  else:
    return "Invalid SSN Details"

def DL_check(sent1):
  valid_dl = len(sent1) ==10 and sent1[0].isalpha() and sent1[1:].isdigit()
  if valid_dl == True:
    return "Valid Drivers License Details"
  else:
    return "Invalid Drivers License Details"

def details(con, Id1, Id2):
  if con =='Ind':
    pan_result = pan_check1(Id1)
    aadhar_result = aadhar_check(Id2)
    return pan_result, aadhar_result
  if con =='USA':
    ssn_result = ssn_check(Id1)
    DL_result = DL_check(Id2)
    return ssn_result, DL_result


details('USA', '1234567890', 'A123456789')

In [ ]:
details('Ind', 'BJAPD051J', '123456789098')

In [ ]:
# function that takes a dictionary of names and scores  and a name and returns the score of the corresponding name
# dict = {'Milan': 100, 'Durga': 200, 'Nikky': 300, 'Harshira': 400} , Durga
# op = 200

def ret_score(dict, name):
  for k,v in dict.items():
    if k == name:
      return v

ret_score({'Milan': 100, 'Durga': 200, 'Nikky': 300, 'Harshira': 400} , 'Durga')

In [ ]:
# lambda expression that takes a sentence and returns first and last word
sent = 'My Name is Milan'


op = lambda sent: (sent.split()[0], sent.split()[-1])

op(sent)

In [ ]:
# Generate a random number between 100, 1000(including)
import random
gen_number = random.randint(100,1000)
print('Randomly selected lucky viewer is:', gen_number)

In [ ]:
# Area of a polygon
import math

def area_polygon(n,s):
  angle = math.radians(360/n)
  area = 0.5 * n * (math.sin(angle) * s**2)
  return f"Area of polygon with {n} sides and side length {s} is: {area}"

area_polygon(6,4)

In [ ]:
# Area of equilateral triangle with side a
from math import sqrt
def area_equi_triangle(a):
  area = (sqrt(3)/4)* a**2
  return f" Area of a equilateral triangle with side length {a} is : {area}"

area_equi_triangle(5)

In [ ]:
# printing a word without vowel

def no_vowel(word):
  final = ''
  vowel = ('a','e','i','o','u')
  for char in word:
    if char not in vowel:
     final = final+char
  return final

no_vowel('blueberry')

In [ ]:
# from above program, instead of removing vowel, replace them with (vowel)
# e.g IP = blueberry  op = bl(u)(e)b(e)rry

def sub_vowel(word):
  final =''
  vowel = ('a','e','i','o','u')
  for char in word:
    if char not in vowel:
      final = final + char
    if char in vowel:
      final = final+ f"({char})"
  return final

sub_vowel('blueberry')

In [ ]:
# print z pattern with *
print('* '*8)

for i in range(1,7):
  print('  '* (7-i)+ '*')
print('* '*8)

In [ ]:
for i in range(1,8):
  print('* '*(8-i))

In [ ]:
for i in range(1,11):
  if i <=5:
    print('  '* 5 + '* ' * 5)
  else:
    print('* '*5 + '  '*5)

In [ ]:
# fahrenheit (0 to 100)_to_celsius

def fah_to_cel(number):
  return( (number -32)* (5/9))

print("fahrenheit  celsius")
for temparature in range(0,101,5):
  cel = fah_to_cel(temparature)
  print( f" {temparature}          {cel:.2f}")

In [ ]:
def function(a,b=5,c=10):
  poly = 2 * a**2 - 5 * b + c
  print(a,b,c)
  print(poly)

function(3,7)
function(25,c=24)
function(c=50, a=100)

In [ ]:
# function to check if a char is vowel
def check_vowel(char):
  vowel = ['a','e','i','o','u']
  if char in vowel:
    return True
  else:
    return False

check_vowel('n')

In [ ]:
# find mersennel number
def mersennel(n):
  return 2**n -1

mersennel(3)

In [ ]:
# function that takes a 4 digit number, splits the number into 2, and returs the sum of squares Eg: ip = 1234 op = 12**2 + 34**2
def split_square(a):

  x = int(str(a)[:2])
  y = int(str(a)[2:])

  sum = x**2 + y**2
  return(sum)

split_square(1234)

In [ ]:
# rock paper scissor

def result(system,char):
  if system == 'Rock' and char == 'Paper':
    return 'Paper beats Rock : You won'
  if system == 'Rock' and char == 'Scissor':
    return 'Rock beats Scissor : You lost'
  if system == 'Paper' and char == 'Rock':
    return 'Paper beats Rock : You lost'
  if system == 'Paper' and char == 'Scissor':
    return 'Scissor beats Paper : You won'
  if system == 'Scissor' and char == 'Rock':
    return 'Rock beats Scissor : You won'
  if system == 'Scissor' and char == 'Paper':
    return 'Scissor beats Paper : You lost'

def rock_paper_scissor(char):
  system = random.choice(['Rock', 'Paper', 'Scissor'])
  if char not in ['Rock', 'Paper', 'Scissor']:
    return 'Invalid input'
  if system.lower() == char.lower():
    return f" System = {system}, Player = {char}, Draw"
  else:
    return f" System = {system}, Player = {char}, {result(system,char)}"

rock_paper_scissor('Rock')

In [ ]:
# function that takes a nimber and returns the text of number e.g IP = 123 OP = One Two Three

def num_text(number):
  dict = {1:'One ',2:'Two ',3:'Three ',4:'Four ',5:'Five ',6:'Six ',7:'Seven ',8:'Eight ',9:'Nine '}
  text = ''
  for i in range(0,len(str(number))):
    for k,v in dict.items():
      if int(str(number)[i]) == k:
        text = text + v
  return text

num_text(3423669)

In [ ]:
# function that calculates the taxi fare. Base fare 3$ and 0.10$ for every 100 mtrs. Input in km

def fare(dist):
  base = 3
  dist_fare = ((dist*1000)/100)*0.10
  final_fare = base + dist_fare
  return base, dist_fare, final_fare

fare(30)

In [ ]:
# generate a playing card deck

def generate():
  deck=[]
  value = ['2','3','4','5','6','7','8','9','T','J','K','Q','A']
  suit = ['H', 'C','D','S']
  for i in suit:
    for j in value:
      card = i+j
      deck.append(card)
  return deck

generate()

In [ ]:
def guess(alpha):
  word = 'Milan Dora'
  final_word = ''
  for char in word:
    if alpha == char:
      final_word = final_word + alpha
    else:
      final_word = final_word + '_ '
  return final_word

guess('a')

In [ ]:
def hangman():
  words = ['Dunki','Jawan','Pathan','Baadshah', 'Kal Ho Na Ho']
  word = random.choice(words).lower()
  guessed_letters = []
  word_len = len(word)

  print("Welcome to Hangman")
  display = ['_'] * word_len
  for i in range(0,word_len):
    if word[i] == ' ':
      display[i] = ' '

  lives = 5
  print(" ".join(display))

  while lives > 0 and '_' in display:
    guess = input("Guess a letter : ").lower()
    if len(guess) > 1 or guess.isdigit():
      print("Enter vaild input")
      continue
    if guess in guessed_letters:
      print("Already wo letter guess karliya. Kitne bar wohich bolta")
      continue
    guessed_letters.append(guess)
    if guess in word:
      print('Sahi pakde he')
      for i in range(0,word_len):
        if word[i] == guess:
          display[i] = guess
    else:
      lives -=1
      print(f" Wrong guess Maccha. Bas aur {lives} lives bache")
    print(" ".join(display))
  if "_" not in display:
    print("Sath Crore (Amitabh Bachchan ke awaz me)")
  else:
    print(f"Galat Zawab (again Amitabh Bachchan ke awaz me) Sahi zawab tha '{word}'")

In [ ]:
hangman()

In [ ]:
#roots of a quadratic equation
import numpy as np

def roots(a,b,c):
  x1 = (-b + np.sqrt(b**2 -4*a*c))/(2*a)
  x2 = (-b - np.sqrt(b**2 -4*a*c))/(2*a)
  return x1,x2

roots(1,5,6)

In [ ]:
# factorial

def factorial(n):
  prod = 1
  for i in range(1,n+1):
    prod = prod *i
  return prod

factorial(5)

In [ ]:
# factorial recursion

def factorial_rec(n):
  prod = 1
  while n > 0:
    prod = prod*n
    n -=1
  return prod

factorial_rec(5)

In [ ]:
x = 1
def f():
  global x
  y = x
  x = 2
  return x + y
print (x)
print (f())
print (x)

In [ ]:
x = 2
def f(a):
  x = a * a
  return x
y = f(3)
print (x, y)

In [ ]:
def istrcmp(sent1, sent2):
  return sent1.lower() == sent2.lower()


istrcmp('Milan', 'MiL0n')